body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #35424a;
    border-bottom:5px solid coral ;
}
.container {
    width: 70%;
    margin: auto;
}

#header h1 {
    color: #fff;
    font-family: sans-serif;
    padding: 15px 0;
    display: inline-block;
}

#header .logo {
 color: coral; 
font-family: sans-serif;
padding: 8px 6px;
} 

.navbar{
    float: right;
}

.navbar  li {
    display: inline;

}

.navbar li a {
text-decoration: none;
color: #fff;
font-family: sans-serif;
padding:25px 15px;
display: inline-block;
}

.navbar li a:hover {
    color: coral;
}

.container {
    width: 70%;
    margin: auto;
}

#banner {
    height: 60vh ;
    background-image: url(https://preview.redd.it/qhmk9ew7amo71.jpg?width=1280&format=pjpg&auto=webp&s=9db38266807b44f063ee15a1f1f2b7596dc78632);
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    
}
#banner, h1 {
    font-size: 36px;
    padding-top:50px ;
}
#newsletter {
background-color:#35424a;
color: #fff;
font-family: sans-serif;
padding: 20px 0px;
display: inline-block;
width: 100%;
border-top: rgb(195, 22, 160) solid 5px;
}

#newsletter .left{
  float: left;
}
#newsletter .right {
  float: right;
}

#newsletter, input {
    padding: 5px;
}
.button {
    padding: 7px 15px;
    background-color: #fff;
    color: coral;
    margin-left: 15px;
}
#courses {
    padding: 30px 0;
} 

.box {
    width: 33.3%;
    float: left;
    text-align: center;
    font-family: sans-serif;
}
.box, img {
   max-width: 100%;
    width: 280px;
    padding: 15px 0;
}
.clr {
    clear: both;
}
#footer {
    padding: 50px 0;
    text-align: center;
    background-color: coral;
    margin-top: 40px;
    color: white;
}
.main-content {
    width: 65%;
    float: left;
}
.sidebar{
    width: 30%;
    float: right;
    margin-left: 30px;
}
#about-us {
    margin: 40px 0;
    font-family: sans-serif;
}
.bg-dark {
    background-color: #35424a;
    color: #fff;
    padding: 15px;
}

.service-box {
  padding: 20px;  
  margin: 10px 0;
  background-color:skyblue;
  border: 2px solid #555;
}

label{
    display: block;
    margin: 10px 0;
}
input, textarea{
  width: 100%; 
  padding: 10px 0;
}
.active{
    color: coral !important;
}